* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.header-container {
  transition: transform 0.3s ease-in-out;
}

.header-container.active {
  transform: scale(1.2);
}

.close-icon {
  transition: transform 0.3s ease-in-out;
}

.close-icon.active {
  transform: rotate(45deg);
}

.header {
  text-align: center;
  background-color: gainsboro;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 16px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
}

.nav-bar a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
  color: #333;
  padding: 1rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}

.movie-item {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.movie-item img {
  height: auto;
  width: 300px;
}

.item-actions {
  align-items: center;
  display: flex;
  margin-top: 20px;
  gap: 0.6rem;
}

.likes {
  display: flex;
  gap: 0.6rem;
}

.comments-btn {
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: rgb(23, 131, 239);
  cursor: pointer;
  color: #fff;
  border: none;
}

.item h5 {
  font-size: 1.3rem;
  color: rgb(239, 60, 60);
}

.comment-modal {
  border: 3px solid #fff;
  bottom: 0;
  height: 80%;
  margin: 0 auto;
  margin-top: 10px;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  z-index: 10;
  display: flex;
  padding: 0.5rem;
  border-radius: 10px;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 800px;
  max-width: 80%;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.modal-body img {
  margin-bottom: 10px;
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}

#close-btn {
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-name {
  font-size: 1.5rem;
  color: rgb(138, 75, 146);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.7rem;
  line-height: 1.2;
}

.nameInput {
  padding: 0.5rem;
  outline: none;
  border-radius: 8px;
  width: 250px;
}

.commentInput {
  padding: 0.4rem;
  outline: none;
  border-radius: 6px;
  width: 400px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sub-comment-btn {
  width: 150px;
  font-size: 1.3rem;
  color: #fff;
  background-color: rgb(104, 168, 104);
  padding: 0.3rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  margin-top: auto;
  padding: 10px;
  text-align: center;
}

.overlay-pop {
  inset: 0;
  display: flex;
}

#overlay {
  inset: 0;
  position: fixed;
  background-color: rgba(193, 199, 208, 0.9);
  backdrop-filter: blur(1px);
  z-index: 9;
  pointer-events: none;
  opacity: 0;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

