/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 16px;
}
/*style the header*/
li {
  list-style: none;
}
a {
  color: slateblue;
  text-decoration: none;
  font-size: 1.4rem;
}
 /* Style the header */
 header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Style the navigation menu */
nav {
  background-color: #666;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: auto; /* Pushes the logo to the right */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}
  
  
  /* Style the main content */
  
  
  
  /* Style the footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
  }

  .movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
  }

  .movie-item img {
    width: 200px;
    height: auto;
  }

  .item-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }